# Linguist overrides

*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false

# *.json linguist-detectable=true
# *.json linguist-language=Python
# *.json linguist-documentation=false

*.xml linguist-detectable=true
*.xml linguist-language=Markdown
*.xml linguist-documentation=false

*.svg linguist-detectable=true
*.svg linguist-language=Markdown
*.svg linguist-documentation=false



